Code/
EOS*
eos*
Thunar
autostart
dconf
discord
discordptb
google-chrome
gtk*
example.picom.conf
micro/backups
micro/buffers
microsoft-edge
ncspot/userstate*
user-dirs*
spotify*
reflector*
pulse
xfce4
