// Colors

* {
    foreground: #f8f8f2;
    background: #282a36;
    current: #44475a;
    foreground: #f8f8f2;
    comment: #6272a4;

    cyan: #8be9fd;
    green: #50fa7b;
    orange: #ffb86c;
    pink: #ff79c6;
    purple: #bd93f9;
    red: #ff5555;
    yellow: #f1fa8c;

    bold-cyan: bold #8be9fd;
    bold-green: bold #50fa7b;
    bold-orange: bold #ffb86c;
    bold-pink: bold #ff79c6;
    bold-purple: bold #bd93f9;
    bold-red: bold #ff5555;
    bold-yellow: bold #f1fa8c;
}